[Unit]
Description=3Dconnexion Input Devices Userspace Driver

[Service]
Type=exec
ExecStart=/usr/local/bin/spacenavd -d -l /dev/stdout -p /dev/null

[Install]
WantedBy=graphical.target
