[Unit]
Description=3Dconnexion Input Devices Userspace Driver
After=syslog.target

[Service]
Type=forking
PIDFile=/var/run/spnavd.pid
ExecStart=/usr/local/bin/spacenavd
StandardError=syslog

[Install]
WantedBy=graphical.target
